<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Weather App</title>
        <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/darkly/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="../public/style/style.css">
        <script src="../public/js/script.js" defer></script>
    </head>
    <body>
        <div class="mx-auto dashboard">
            <div id="weather" class="mt-3"></div>
            <div id="city" class="text-center">
                <input type="text" id="city-input" placeholder="Enter city name">
                <button id="city-btn" onclick="getWeather()" class="ml-3">Get Weather</button>
            </div>
        </div>
    </body>
</html>